{% extends "layout.html" %}


{% block body %}
{{error}}
<form method="POST" action="{{ url_for('search')}}">
  <table>
    <tr>
      <td>
	{{ form.search.label }}
      </td>
      <td>
	{{ form.search }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
	<input type="submit" value="Search"/>
      </td>
    </tr>
</form>


<table width = "600">
  <tr>
    <th>Group</th>
    <th>Owner</th>
  </tr>
  {% for g in groups %}
  <tr>
    <td><a href="{{url_for('group_home', param = g.id)}}"> {{ g.name }}</a></td>
    <td>{{ g.username }}</td>
  </tr>
  {% endfor %}
</table>
  <b>
    <br />
    <a href="{{url_for('groups_new')}}">Create new group</a>
  </b>
{% endblock %}
