{% extends "layout.html" %}

{% block body %}

{{ error }}
<table width = "600", border = 1px solid black, border-collapse = collapse;>
  <tr>
    <th>Message</th>
    <th>Sender</th>
    <th>Actions</th>
  </tr>
  {% for m in messages %}
  <tr>
    <td>{{ m.message }}</td>
    <td>{{ m.username }}</td>
    <td>
      {% if current_user.id == m.sender_id or current_user.id == ownerID %}
      <a href="{{url_for('message_delete', param=m.id)}}">Delete </a>
      <br />
      <a href="{{url_for('message_edit', param=m.id)}}">Edit</a>
      {% endif %}
    </a>

  </tr>
  {% endfor %}
</table>
<br />

<a href="{{ url_for('discussion_home', target = target, page=current+1) }}">&lt;&lt; Newer messages</a>
&emsp;&emsp;
<a href="{{ url_for('discussion_home', target = target, page=current-1) }}">Older messages &gt;&gt;</a>
<br /><br />
<form method="POST" action="{{ url_for('messages_create', target = target) }}">
  <table>
    <tr>
      <td>
	{{ form.message.label }}
      </td>
      <td>
	{{ form.message(size=50) }}
      </td>
    </tr>
    <tr>
      <td colspan="3">
	<input type="submit" value="Post message"/>
      </td>
    </tr>
</form>
{% endblock %}
